@model EmpManagePro.Models.Deduccion

@{
    ViewData["Title"] = "Eliminar Deducción";
}

<h2>@ViewData["Title"]</h2>

<h3>¿Estás seguro que deseas eliminar esta deducción?</h3>
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.Nombre
        </dd>
        <dt class="col-sm-2">
            Porcentaje
        </dt>
        <dd class="col-sm-10">
            @Model.Porcentaje
        </dd>
    </dl>

    <form asp-action="DeleteDeduccionConfirmed">
        <input type="hidden" name="id" value="@Model.DeduccionID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="GestionarDeducciones" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
