@model EmpManagePro.Models.Bonificacion

@{
    ViewData["Title"] = "Editar Bonificación";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("EditBonificacion", "Nominas", FormMethod.Post, new { id = "formEditPuesto", @class = "classFormEdits" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.BonificacionID)

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, "Nombre de la Bonificación", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Ej. Por objetivos cumplidos" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Monto, "Monto", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Monto, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Ej. 50000" })
        @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
    </div>
}
