@model EmpManagePro.Models.Puesto

@{
    ViewData["Title"] = "Editar Puesto";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("EditPuesto", "Nominas", FormMethod.Post, new { id = "formEditPuesto", @class = "classFormEdits" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.PuestoID) <!-- Este campo oculto asegura que el ID se transmita -->

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, "Nombre del Puesto", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Ej. Desarrollador Junior" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Salario, "Salario", new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Salario, new { @class = "form-control", type = "number", placeholder = "Ej. 1200000" })
        @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
    </div>
}
